<!DOCTYPE html> <!-- not a place for hidden GEMS / crypt3lligence -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.neweden.app/Media/Main/Images/NE-social-thumbnail.jpg">
    <meta property="og:title" content="New Eden - an interactive cyberpunk experience.">
    <meta property="og:site_name" content="New Eden - an interactive cyberpunk experience.">
    <meta name="description" content="New Eden is an interactive entertainment experience where comic storytelling and animated series meet DnD-RPG gaming.">
    <title>New Eden Labs</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HGFJKJ1M5V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-HGFJKJ1M5V');
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="/Media/Design Elements/NE-apple-touch-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Media/Design Elements/NE-favicon-32x32.png">
    <link rel="stylesheet" href="/styles/NEgeneralTest.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/NEstoryscriptsTest.js"></script>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/Media/Header/NE-logo-white.png" alt="Logo">
      </div>
      <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/story/">STORY</a>
        <a href="/heroes/">HEROES</a>
        <a href="/?section=about">ABOUT</a>
        <a class="nav-social-icon" href="https://instagram.com/the.leo/" target="_blank" rel="noopener noreferrer"><img src="/Media/Header/Instagram-logo.png" alt="Instagram"></a>
        <a class="nav-social-icon twitter-icon" href="#">
          <img src="/Media/Header/TwitterX-logo.png" alt="Twitter">
          <span class="tooltip">Coming Soon!</span>
        </a>     
      </nav>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="mobile-menu">
        <a href="/">HOME</a>
        <a href="/story/">STORY</a>
        <a href="/heroes/">HEROES</a>
        <a href="/?section=about">ABOUT</a>
        <div class="dropdown">
            <a href="#">SOCIAL ▼</a>
            <div class="dropdown-content">
                <a href="https://instagram.com/the.leo/" target="_blank" rel="noopener noreferrer">INSTAGRAM</a>
            </div>
        </div>
        <img class="menu-icon" src="/Media/Design Elements/NE-logo-class.png" alt="Mini Logo">
      </div>
    </header>

    <main>
      <div class="story-container">
        <div class="story-main">
          <div class="story-main-wrap"> 
            <div class="story-main-content">
              <div class="story-main-image">
                <img loading="eager" class="story-main-image-dt" src="/Media/Main/Story/new-eden-city-concept.png">
                <img loading="eager" class="story-main-image-mb" src="/Media/Main/Story/ne-concept-mob.jpg">
              </div>
              <div class="story-main-info">
                <p class="story-page-title">STORY ///</p>
                <div class="story-main-info-content">
                  <p class="story-main-title">NEW EDEN</p>
                  <p class="story-main-text">Well into the 21st century, a fusion of biotech, cybernetics and AI became all but inevitable.</p>
                  <p class="story-main-text">The Cyberverse - a colloquial name for a ubiquitous, decentralized virtual infrastructure – has become intertwined in almost every imaginable aspect of human existance. It is told that some of the earliest believers in such technology were able to harness its powers to achieve the unimaginable. They sought ways to enhance their bodies, prolong their lives and integrate their being into the virtual networks.</p>
                  <p class="story-main-text">Thus, the first “augmented” humans were generated. In time, they became referred to as the Originals of New Eden. Their story begins here. </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="section-line">

        <div class="story-character">
          <div class="story-character-wrap"> 
            <div class="story-character-content">
              <div class="story-character-image">
                <img loading="lazy" src="/Media/Main/Story/celine-ne-street.png">
              </div>
              <div class="story-character-info">
                <div class="story-character-content-wrap">
                  <img loading="lazy" class="story-character-icon" src="/Media/Main/Slider-Icons/msurfer-slider-icon.png">
                  <p class="story-character-title">CELINE</p>
                  <p class="story-character-text">A.k.a “code: 0xymoron” (in the more hidden corners of the Cyberverse), Celine is a Metasurfer – a class of augmented humans known for their advanced abilities in integrating and traversing the virtual systems.</p>
                  <p class="story-character-text">Frequently diving into the depths of the Cyberverse void, she’s an adept hacker and a street-smart Edenite.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="section-line">

        <div class="story-character">
          <div class="story-character-wrap"> 
            <div class="story-character-content">
              <div class="story-character-image">
                <img loading="lazy" src="/Media/Main/Story/argarion-lair.png">
              </div>
              <div class="story-character-info">
                <div class="story-character-content-wrap">
                  <img loading="lazy" class="story-character-icon" src="/Media/Main/Story/argarion-icon.png">
                  <p class="story-character-title">ARGARION</p>
                  <p class="story-character-text">Little is documented about an entity known as Argarion. Akin to a mythical tale, some believe he was once a renowned robotics engineer who managed to resurrect his decaying body by fusing it with the most advanced cyberwear.</p>
                  <p class="story-character-text">Rumour has it that a new cult recently emerged, devoted to an obscure figure who “rose from the void”.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      

      <div id="app" v-cloak>
        <div class="container"> 
          <div class="main-content"> 
            <div class="inner-content"> 
              <div class="nav-section"> 
                <p class="nav-title">CORE CHARACTERS</p>
                <div class="button-nav">
                  <button v-for="character in characters" @click="selectCharacter(character)" :class="{ active: character === selectedCharacter }">
                    <img v-if="character === selectedCharacter" src="/Design/Asset 4.png" alt="active icon" class="active-icon">
                    {{ character.name }}
                  </button>
                </div>
              </div>
              <div class="middle-section">
                <div v-if="selectedCharacter" class="background" :style="{ backgroundImage: `url(${selectedCharacter.backImage})` }"></div>
                <transition v-if="selectedCharacter" name="slide-fade">
                  <img class="main-character" :src="selectedCharacter.characterImage" :key="selectedCharacter.characterImage" alt="character image" loading="lazy">
                </transition>
              </div>
              <div v-if="selectedCharacter" class="right-section"> 
                <div class="character-stats">
                  <img :src="selectedCharacter.icon" alt="character icon" class="character-icon">
                  <p class="character-class">{{ selectedCharacter.className }}</h2>
                  <p class="character-description">{{ selectedCharacter.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>

    </main>
    <footer>
      <img class="footer-logo" src="/Media/Design Elements/NE-logo-mini-b-w-border.png">
      <p>New Eden Labs [2023]</p>
    </footer>

    <script>      
      if ('scrollRestoration' in history) {
      history.scrollRestoration = 'manual';
      }

      window.onload = function() {
        window.scrollTo(0, 0);
      }

      document.addEventListener("DOMContentLoaded", function() {
        const mainElement = document.querySelector("main");
        const footerElement = document.querySelector("footer");

        if (mainElement) {
            mainElement.classList.add("loaded");
        }

        if (footerElement) {
            footerElement.classList.add("loaded");
        }
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const storyContainer = document.querySelector(".story-container");
        
        if (storyContainer) {
          setTimeout(() => {
            storyContainer.classList.add("visible");
          }, 10);
        }
      });
    </script>

    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js'
    
      createApp({
        data() {
          return {
            characters: [
            { 
                name: 'SERGE', 
                characterImage: '/Media/Main/serge-aggro.png', 
                icon: '/Media/Main/serge-avatar.png',
                backImage: '/Media/Main/Classes/AL-symbol-white.png',
                className: 'ALPHA',
                description: 'As an Alpha class, Serge is not only an adept warrior, but is also an elite commander with unmatched tactical experience.' 
              },  
              { 
                name: 'DR.SOLO', 
                characterImage: '/Media/Main/drsolo-aggro.png', 
                icon: '/Media/Main/drsolo-avatar.png',
                backImage: '/Media/Main/Classes/DV-symbol-white.png',
                className: 'DEV',
                description: 'xxxxx xxxxx xxxxxx xxxxxxxx xxxxx xxx xxxx xxxxx xxxx xxxx xxxx xxxxxx xxx xxx xxxxxx xxxxxxx xxxx xxxx xxxxx xxxx' 
              },
              { 
                name: 'VOLTRIX', 
                characterImage: '/Media/Main/voltrix-aggro.png', 
                icon: '/Media/Main/voltrix-avatar.png',
                backImage: '/Media/Main/Classes/AN-symbol-white.png',
                className: 'ANDROID',
                description: 'xxxxx xxxxx xxxxxx xxxxxxxx xxxxx xxx xxxx xxxxx xxxx xxxx xxxx xxxxxx xxx xxx xxxxxx xxxxxxx xxxx xxxx xxxxx xxxx' 
              },
              
            ],
            selectedCharacter: null
          };
        },
        methods: {
          selectCharacter(character) {
            this.selectedCharacter = character;
          }
        },
        mounted() {
          this.selectedCharacter = this.characters[0]; 
        }
      }).mount('#app');


    </script>
  </body> 
</html>
