*, *::before, *::after {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

.carousel-wrapper {
  opacity: 0;
  transition: opacity 0.3s; 
}

.carousel-wrapper.loaded {
  opacity: 1;
}


@font-face {
  font-family: 'NEevangelion';
  src: url(/fonts/NEEvangelion-Reg.woff2) format('woff2');
}

@font-face {
  font-family: 'NENeueMachina-PlainReg';
  src: url(/fonts/NENeueMachina-PlainReg.woff2) format('woff2');
}

@font-face {
  font-family: 'NENeueMachina-PlainLig';
  src: url(/fonts/NENeueMachina-PlainLig.woff2) format('woff2');
}

@font-face {
  font-family: 'NENeueMachina-PlainUBold';
  src: url(/fonts/NENeueMachina-PlainUBold.woff2) format('woff2');
}

@font-face {
  font-family: 'NENeueMachina-InktrapReg';
  src: url(/fonts/NENeueMachina-InktrapReg.woff2) format('woff2');
}

@font-face {
  font-family: 'NENeueMachina-InktrapLig';
  src: url(/fonts/NENeueMachina-InktrapLig.woff2) format('woff2');
}




body {
  margin: 0;
  font-family: "NENeueMachina-PlainLig", Consolas, sans-serif;
  background-color: #141518;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 20px 10px;
  z-index: 100;
  max-height: 90px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.65), transparent);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none; 
  z-index: -1; 
}

header.scrolled::before {
  opacity: 1;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: 250px;
  z-index: 102;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.navbar img {
  width: 40px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 30px 20px;
  transition: color 0.3s ease;
  font-family: "NENeueMachina-InktrapLig";
}

.navbar a:hover {
  color: #1cc7e6;
}

.nav-social-icon {
  margin-left: -15px;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 5px 10px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  bottom: -40px; 
  left: 91%;
  transform: translateX(-50%); 
}

.twitter-icon:hover .tooltip {
  display: block;
}

.hamburger {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  z-index: 102;
  padding-right: 20px;
  gap: 6px;
}

.hamburger div {
  width: 35px;
  height: 2px;
  background-color: rgb(71, 229, 250);
}


.mobile-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding-top: 90px;
  top: 0;
  right: 0; 
  width: 100%;
  height: 100vh;
  background-color: #141518d0;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: opacity 0.3s ease;
  z-index: 101;
  font-size: 22px;
  gap: 20px;
  opacity: 0;
  pointer-events: none; 
}

.mobile-menu a {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
  color: #cbcbcb;
  text-decoration: none;
}

.dropdown-content a {
  opacity: 0;
  transform: translateY(-100%); 
  transition: opacity 0.5s, transform 0.5s;
  color: #cbcbcb;
  text-decoration: none;
}

.menu-icon {
  max-height: 80px;
  opacity: 0;
  transition: opacity 0.4s ease;
  position: absolute;
  top: 370px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}

.mobile-menu-open .mobile-menu {
  opacity: 1;
  pointer-events: auto; 
}

.mobile-menu-open .mobile-menu a,
.mobile-menu-open .dropdown-content a {
  opacity: 1;
  transform: none;
}

.mobile-menu-open .menu-icon {
  opacity: 1;
}

.hamburger-active div:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-active div:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hamburger-active div:nth-child(2) {
  opacity: 0;
}

main {
  display: block;
}

.main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #211f1f;
  position: relative;
}

.main-desktop-image {
  position: relative;
  width: 100%;
}

.main-mobile-image {
  display: none;
}

.main-video {
  position: absolute;
  width: 40%; 
  z-index: 2;
  left: 100px;
  top: 50%;
  transform: translateY(20%);  
  opacity: 0;  
  transition: opacity 1s, transform 1s; 
}

.main-video.visible {
  opacity: 1;  
  transform: translateY(10%);  
}

#video-container {
  display: flex;
  align-items: center;  
  justify-content: center;  
  width: 100%;
  max-height: 80vh;
  position: relative;  
  overflow: hidden;
}

#concept-trailer-bg {
  position: relative;  
  width: 100%;
  height: auto;
  filter: blur(40px);
  z-index: 1;
  opacity: 0.2;
}

#concept-trailer {
  position: absolute;  
  top: 50%;
  left: 50%;
  max-width: 60vw;  
  transform: translate(-50%, -50%);
  filter: blur(10px);
  z-index: 10;
  opacity: 0; 
  transition: filter 1s, opacity 1s;
}




.about-container {
  margin: 50px 0 150px 0;
  max-width: 100vw;
  box-sizing: border-box;
}

.about-wrap {
  display: block;
  padding: 5vh 5vw;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.about-content svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.about-image {
  position: relative; 
  flex: 0 0 30vw; /* Gives the container a width without it shrinking or growing. */
  overflow: hidden; 
}

.about-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: contain;
  object-position: center bottom; /* img bottom positioning */
  z-index: 1;
}

.about-info {
  color: rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45vw;
  padding: 3vh 0;
}

.about-title {
  font-size: calc(25px + 6*(100vw - 970px)/762);
  font-family: "NENeueMachina-InktrapLig";
}

.about-text {
  line-height: 1.5;
  font-size: calc(11px + 6*(100vw - 970px)/762);
  padding: 0 2vw;
  text-align: center;
}

.about-button {
  background-image: url('../Design/buttons/button-default.png');
  background-repeat: no-repeat;
  background-position: center;  
  background-size: 100% 100%; 
  border: none; 
  cursor: pointer;
  padding: 17px 20px 10px 20px;
  font-size: calc(30px + 12*(100vw - 970px)/762);
  font-family: "NEevangelion";
  text-decoration: none;
  letter-spacing: 2px;
  color: rgb(224, 224, 224);
  }

.about-content .about-button:hover {
  background-image: url('../Design/buttons/button-active.png');
  color: #91e0ee;
}


.about-button:focus {
  outline: none;
}

.about-content .about-button:visited {
  color: inherit;
}



.carousel-wrapper {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.slide-icon-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(5%);
}

.slide-icon-nav img {
  border: 1px solid grey;
  opacity: 0.6;
  max-width: 35%;
  margin-bottom: 15px; 
  cursor: pointer; 
  transition: opacity 0.3s; 
}

.slide-icon-nav img.active {
  border: 3px solid lightblue;
  opacity: 1;
}

.slide-icon-nav img:not(.active):hover {
  opacity: 0.9;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  flex: 4.5;
  overflow: hidden;
}

.slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  color: #333;
  position: relative;
  opacity: 0.5;
  transform: scale(0.7);
  transition: all 0.5s;
}

.slick-current, .slick-target {
  transform: scale(1);
  opacity: 1;
}

.icon {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px; 
}

.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}

.character {
  width: 100%;
  max-width: 880px; 
}

.class-name {
  font-size: 35px;
  font-weight: bold;
  margin-top: 35px;
  color: rgb(222, 222, 222);
}

.slick-slide .class-name {
  opacity: 0;
}

.slick-current .class-name {
  opacity: 1;
}

.slick-arrow:before{
  content:""!important;
}

.slick-prev img, .slick-next img {
  width: 20px; 
  z-index: 3;
}

.slick-arrow {
  z-index: 3;
}

.slick-next{
  right: 36%!important;
  top: 45%!important;
}

.slick-prev{
  left: 36%!important;
  top: 45%!important;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}


.footer-logo {
  max-height: 90px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 40px 0;
  padding-top: 40px;
  color:#cbcbcb;
  gap: 20px;
  border-top: 2px solid rgb(184, 184, 184, 0.281);
}

main, footer {
  opacity: 0;
  transition: opacity 0.1s;
}

footer.loaded, main.loaded {
  opacity: 1;
}

@media (max-width: 768px) { 


  
  .logo img {
    width: 140px;
  }

  .navbar, .social-media {
      display: none;
  }

  .hamburger {
      display: flex;
  }
  
  main {
    overflow-x: hidden;
  }
  
  .background-image {
    display: none;
  }

  .main-mobile-image {
    position: relative;
    display: block;
    width: 100%;
  }

  .main-desktop-image {
    display: none;
  }

  .main-video {
    position: absolute;
    width: 85%; 
    z-index: 2;
    left: 50%; 
    top: 83%; 
    transform: translate(-50%, -20%);  
    opacity: 0;  
    transition: opacity 1s, transform 1s; 
  }

  .main-video.visible {
    transform: translate(-50%, -50%); 
    opacity: 1;  
  }

  #video-container {
    display: flex;
    align-items: center;  
    justify-content: center;  
    width: 100%;
    min-height: 45vh;
    position: relative;  
    overflow: hidden;
  }
  
  #concept-trailer-bg {
    position: relative;  
    width: 100%;
    height: auto;
    filter: blur(20px);
    z-index: 1;
    opacity: 0.4;
  }
  
  #concept-trailer {
    position: absolute;  
    top: 50%;
    left: 50%;
    max-width: 95vw;  
    transform: translate(-50%, -50%);
    filter: blur(10px);
    z-index: 10;
    opacity: 0; 
    transition: filter 1s, opacity 1s;
  }


  .about-container {
    margin: 10px 0 50px 0;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  .about-wrap {
    display: block;
    padding: 0 2vw;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid rgba(221, 221, 221, 0.226);
  }
  
  .about-content svg {
    display: none;
  }

  .about-image {
    position: relative; 
    flex: 100vw; /* Gives the container a width without it shrinking or growing. */
    overflow: hidden; 
    order: 2;
  }

  .about-image img {
    position: relative;
    width: 100vw;
    z-index: -2;
  }
  
  .about-info {
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    padding: 3vh 0 0;
    order: 1;
  }
  
  .about-title {
    font-size: calc(30px + 6*(100vw - 970px)/762);
    font-family: "NENeueMachina-InktrapLig";
  }
  
  .about-text {
    line-height: 1.5;
    font-size: calc(20px + 6*(100vw - 970px)/762);
    padding: 0 1vw;
    text-align: center;
  }
  
  .about-button {
    background-image: url('../Design/buttons/button-default.png');
    background-repeat: no-repeat;
    background-position: center;  
    background-size: 100% 100%; 
    border: none; 
    cursor: pointer;
    padding: 17px 20px 10px 20px;
    font-size: calc(35px + 8*(100vw - 970px)/762);
    font-family: "NEevangelion";
    text-decoration: none;
    letter-spacing: 2px;
    margin: 15px 0;
    }
  
  


  .carousel-wrapper {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
  }

  .slick-current, .slick-target { /* Carousel */
    transform: scale(1.1);
    opacity: 1;
  }

  .character { /* Carousel */
    width: 100%;
    max-width: 880px; 
  }

  .class-name { /* Carousel */
    font-size: 22px;
    font-weight: bold;
    margin-top: 35px;
    color: rgb(222, 222, 222);
  }
  
  .slide-icon-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .slide-icon-nav img {
    border: 2px solid grey;
    opacity: 0.6;
    max-width: 90%;
    margin-bottom: 15px; 
    cursor: pointer; 
    transition: opacity 0.3s; 
  }
  
  .slide-icon-nav img.active {
    border: 2px solid lightblue;
    opacity: 1;
  }
  
  .slide-icon-nav img:not(.active):hover {
    opacity: 0.9;
  }
  
  .carousel {
    width: 100%;
    margin: 0 auto;
    flex: 4;
    overflow: hidden;
  }
  
  .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    color: #333;
    position: relative;
    opacity: 0.5;
    transform: scale(0.7);
    transition: all 0.5s;
  }
  
  .slick-current, .slick-target {
    transform: scale(1);
    opacity: 1;
  }
  
  .icon {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px; 
  }
  
  .character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 100px;
  }
  
  .slick-slide .class-name {
    opacity: 0;
  }
  
  .slick-current .class-name {
    opacity: 1;
  }
  
  .slick-arrow:before{
    content:""!important;
  }
  
  .slick-prev img, .slick-next img {
    width: 13px; 
    z-index: 3;
  }
  
  .slick-arrow {
    z-index: 3;
  }

  .slick-next{
    right: 8%!important;
    top: 45%!important;
  }
  
  .slick-prev{
    left: 8%!important;
    top: 45%!important;
  }
}





/* !!!! Story subpage CSS !!!! */

.story-container {
  transform: translateY(7%); 
  opacity: 0; 
  transition: opacity 0.5s, transform 0.5s; 
}

.story-container.visible {
  opacity: 1; 
  transform: translateY(0); 
}

.section-line {
  border: 1px solid rgba(214, 214, 214, 0.144);
  margin: 70px 120px;
}

.story-main {
  margin-top: 150px;
  max-width: 100vw;
  box-sizing: border-box;
}

.story-main-wrap {
  display: block;
}

.story-main-content {
  display: flex;
  justify-content: space-between;
  padding: 0 7vw;
}

.story-main-image-dt {
  max-width: 40vw;
  border-radius: 20px;
}

.story-main-image-mb {
  display: none;
}

.story-main-info {
  color: rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40vw;
  position: relative;
  padding-top: 20px;
}

.story-main-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.story-page-title {
  font-size: calc(28px + 6*(100vw - 970px)/762);
  font-family: "NENeueMachina-PlainUBold";
  border-bottom: 1px solid #cbcbcb;
  margin: 0px;
  position: absolute;
  top: 0;

}

.story-main-title {
  font-size: calc(20px + 6*(100vw - 970px)/762);

}

.story-main-text {
  line-height: 1.5;
  font-size: calc(11px + 6*(100vw - 970px)/762);
}







.story-character {
  margin-top: 30px;
  max-width: 100vw;
  box-sizing: border-box;
}

.story-character-wrap {
  display: block;
}

.story-character-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 7vw; 
}

.story-character-image img {
  max-width: 40vw;
  border-radius: 20px;
}

.story-character-info {
  color: rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40vw;
  position: relative;
}

.story-character-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-character-icon {
  max-width: 30%;
  margin-bottom: 20px;
  opacity: 0.9;
  border: 1px solid rgba(206, 206, 206, 0.308)
}


.story-character-title {
  font-size: calc(20px + 6*(100vw - 970px)/762);

}

.story-character-text {
  line-height: 1.5;
  font-size: calc(11px + 6*(100vw - 970px)/762);
}





.container {
  margin-top: 70px;
  padding: 5vh 3vw 5vh;
}

.main-content {
  padding: 0 9vw;
  margin-bottom: 30px;
  box-sizing: border-box;
  min-height: 37vw;
  display: flex;
  align-items: center;
  position: relative;
}

.inner-content {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#cbcbcb;
  box-sizing: border-box;
}

.nav-title {
  font-size: calc(12px + 8*(100vw - 970px)/762);
  font-family: "NENeueMachina-PlainReg";
}

.button-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  background: transparent;
  border: none;
  color: white; 
  cursor: pointer; 
  padding: 0;
  margin: 0;
  font-size: calc(20px + 12*(100vw - 970px)/762); 
  font-family: "NENeueMachina-PlainUBold", Consolas, sans-serif;
  letter-spacing: 2px;
  margin: 1vw 0 1vw 0; 
  position: relative;
  z-index: 10;
}

button:hover {
  color: rgb(71, 229, 250);
}

button.active {
  color: rgb(71, 229, 250); 
}

.active-icon {
  max-width: 30px;
  max-height: 30px;
  position: absolute;
  right: 110%;
}


.middle-section {
  position: absolute;
  height: 100%;
  top: 0;
  width:50%;
}

.middle-section .background {
  position: absolute;
  width: 150%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
  opacity: 0.1;
}

.middle-section img {
  position: absolute;
  top: 0;
  right: -70px;
  height: 100%;
}

.right-section {
  height: 40vh;
  width: 17vw;
  color: #cbcbcb;
  position: relative;
}

.character-stats {
  position: absolute;
}

.character-icon {
  width: 80%;
  border: 1px solid #cbcbcb;
  clip-path: polygon(0% 0%, 70% 0%, 100% 30%, 100% 100%, 0% 100%);
}

.character-class {
  font-size: calc(28px + 6*(100vw - 970px)/762);
  padding-top: 5px;
  margin: 20px 0;
  font-family: "NENeueMachina-InktrapReg";
}

.character-description {
  font-size: calc(13px + 6*(100vw - 970px)/762);        
  width: 90%;
  line-height: 1.5;  
  margin: 0;        
}

@media (max-width: 768px) { 

  .section-line {
    border: 1px solid rgba(214, 214, 214, 0.144);
    margin: 30px 20px;
  }

  .story-main {
    margin-top: 80px;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  .story-main-wrap {
    display: block;
  }
  
  .story-main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 4vw;
  }
  
  .story-main-image-dt {
    display: none;
    }
  
  .story-main-image-mb {
    display:block;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .story-main-info {
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    position: relative;
    padding-top: 20px;
    margin-top: 10px
  }
  
  .story-main-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  
  .story-page-title {
    font-size: calc(28px + 6*(100vw - 970px)/762);
    font-family: "NENeueMachina-PlainUBold";
    border-bottom: none;
    margin: 0px;
    position: absolute;
    top: 0px;
  
  }
  
  .story-main-title {
    font-size: calc(25px + 6*(100vw - 970px)/762);
  
  }
  
  .story-main-text {
    line-height: 1.5;
    font-size: calc(19px + 6*(100vw - 970px)/762);
  }






  .story-character {
    margin-top: 30px;
    padding-top: 15px;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  .story-character-wrap {
    display: block;
  }
  
  .story-character-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 4vw; 
  }
  
  .story-character-image img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .story-character-info {
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    position: relative;
    padding-top: 20px;
  }
  
  .story-character-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .story-character-icon {
    max-width: 30%;
    margin-bottom: 20px;
    opacity: 0.9;
    border: 1px solid rgba(206, 206, 206, 0.308)
  }
  
  
  .story-character-title {
    font-size: calc(25px + 6*(100vw - 970px)/762);
    position: absolute;
    top: 7%;
    left: 40%;
  }
  
  .story-character-text {
    line-height: 1.5;
    font-size: calc(19px + 6*(100vw - 970px)/762);
  }






  .main-content {
    padding: 0;
    margin-bottom: 40px;
    box-sizing: border-box;
    min-height: 60vh;
    display: flex;
    align-items: center;
    position: relative;
  }

  .inner-content {
    flex: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    justify-content: normal;
  }
  
  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .nav-title {
    font-size: calc(19px + 6*(100vw - 970px)/762);
  }

  .button-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  button {
    font-size: calc(24px + 6*(100vw - 970px)/762); 
  }

  .active-icon {
    display: none;
  }
  
  .middle-section {
    position: absolute;
    height: 100%;
    top: 14%;
    width: 100%;
    height: 50vh;
    overflow: visible;
  }
  
  .middle-section .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    opacity: 0.1;
  }
  
  .middle-section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    height: auto;
    max-width: 450px;

  }

  .right-section {
    height: 40vh;
    width: 100%;
    margin-top: 56vh;
    position: relative;
  }
  
  .character-stats {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .character-icon {
    width: 45%;
    clip-path: none;
  }
  
  .character-description {
    width: 65%;
    font-size: calc(20px + 6*(100vw - 970px)/762);
  }
}
