.hero-customiser-container {
  background-color: rgb(47, 52, 80);
  color: rgb(237, 247, 253);
  margin: 150px 10%;
  padding: 40px 60px 40px 20px;
  box-sizing: border-box;
  display: flex;
  border-radius: 15px;
}

.character-section {
  flex: 0 0 45%; 
  position: relative;
  height: 0;
  padding-bottom: 40%; /* Equal padding-bottom will maintain the aspect ratio */
  overflow: hidden;
}

.main-image {
  max-width: 100%; /* Max width is 100% of the parent */
  max-height: 100%; /* Max height is also 100% of the parent */
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  transform-origin: center;
  transition: transform 0.4s ease-out;
  border-radius: 11px;
}

.description-section {
  flex: 1;
  padding-left: 20px; /* Space between image and description */
}

.hero-customiser-class {
  font-family: "NEevangelion", Consolas, sans-serif;
  letter-spacing: 6px;
  font-size: 60px;
  font-weight: normal;
  margin: 30px 0px 10px 0px;
}

.hero-customiser-explainer {
  font-style: italic;
}

.attributes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px; /* Adjust as needed */
}


.attribute-box {
  display: grid; 
  gap: 5px; /* Space between type and value */
  align-items: center;
  justify-items: start; /* To center the content horizontally */
  border-radius: 9px;
  padding-left: 1.2vw;
  padding-top: 1.2vh;
  padding-bottom: 0.9vh;
}

.attribute-box.modifier {
  border: solid rgba(255, 255, 255, 0.274);
  border-width: 1px;
  background-color: #838faf38;
}

.attribute-box.inactive {
  background-color: #838faf15;
}

.attribute-box.inactive .attribute-value {
  color: rgba(232, 247, 255, 0.651);
}

.attribute-box.modifier:hover {
  cursor: pointer;
  background-color: #8f9cc048;
}

.attribute-box.active {
  background-color: #252a3d; 
  border-color: rgb(236, 219, 120); 
}

.attribute-box.modifier.active:hover {
  cursor: pointer;
  background-color: #252a3d;
}

.attribute-type,
.attribute-value {
  margin: 0; /* Remove default margins on <p> elements */
}

.attribute-type {
  font-family: "NENeueMachina-InktrapLig", Consolas, sans-serif;
  font-size: 13px;
  color: rgba(232, 247, 255, 0.815);
}

.attribute-value {
  font-family: "NENeueMachina-InktrapBold", Consolas, sans-serif;
  color: rgb(177, 250, 255);
  font-size: 17px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; 
}

@keyframes colorFlash {
  0%, 100% {
      color: rgb(177, 250, 255); 
  }
  50% {
      color: #ffffff; 
  }
}

.flash-effect {
  animation-name: colorFlash;
  animation-duration: 0.4s;
}


.traits-selection {
  display: none;
}

.traits-selection.active {
  display: flex;
  justify-content: start;
  margin-top: 30px;
}

.trait-thumb {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traits-selection img {
  width: 80%; /* Adjust as needed */
  max-width: 130px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-image: url(/Media/Character-Creator/Traits/xDesign/design-layer-mini.png);
  background-repeat: no-repeat;
  background-position: center;  
  background-size: 100% 100%; 
}

.traits-selection img:hover {
  cursor: pointer;
  background-color: #838faf38;
}

.thumb-title {
  margin-top: 5px; /* Adjust as needed for spacing */
  font-size: 14px;
}

#menuContainer {
  display: none;
  width: 60px;
  height: 60px;
  position: relative;
}

@media (max-width: 768px) {

  #menuContainer {
    width: 30px;
    height: 15px;
    position: relative;
    display: block;
    right: -90%;
}

  #menuButton {
      position: relative;
      width: 30px;
      height: 20px;
      cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
      background-color: #8dcfee;
      height: 3px;
      width: 30px;
      margin: 6px 0;
      transition: 0.4s;
  }

  /* Rotate first bar */
  .open .bar1 {
      transform: rotate(-45deg) translate(-7px, 8px);
  }

  /* Fade out the second bar */
  .open .bar2 {
      opacity: 0;
  }

  /* Rotate third bar */
  .open .bar3 {
      transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .hero-customiser-container {
      background-color: rgb(41, 42, 73);
      flex-direction: column;
      margin: 80px 3%;
      padding: 15px 15px 40px 15px;
  }

  .character-section {
    flex: 0;
    position: relative;
    height: 0;
    padding-bottom: 100%; /* aspect-ratio/size */
    overflow: hidden;
  }

  .description-section {
    flex: 1;
    padding-left: 0;
  }

  .hero-customiser-class {
    text-align: center;
    letter-spacing: 4px;
    font-size: 35px;
    margin: 15px 0px 0px 0px;
  }

  .mobile-tabs {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
  }

  .tab {
      width: 48%; /* Adjusted to fit two tabs */
      text-align: center;
      padding: 10px;
      color: white;
      border-bottom: 3px solid rgba(255, 255, 255, 0.1);
      font-size: 12px;
  }

  .tab.active {
    border-bottom-color: rgb(240, 240, 240); 
}

  .tab-content {
      display: none; /* Hidden by default */
  }

  /* Default tab to be displayed */
  #customizer-content {
      display: block;
  }

  .hero-customiser-descript {
      display: none; /* Hide description on mobile within customizer content */
  }

  #info-content .hero-customiser-descript {
      display: block; /* Show description on mobile within info content */
  }

  .hero-customiser-explainer {
    font-style: italic;
    font-size: 13px;
  }

  .attributes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px; /* Adjust as needed */
  }

  .attribute-box {
    display: grid; 
    gap: 1px; /* Space between type and value */
    align-items: center;
    justify-items: start; /* To center the content horizontally */
    border-radius: 4px;
    padding-left: 1.2vw;
    padding-top: 1.2vh;
    padding-bottom: 0.9vh;
  }
  
  .attribute-box.modifier {
    border: solid rgba(255, 255, 255, 0.274);
    border-width: 1px;
    background-color: #838faf38;
  }
  
  .attribute-box.inactive {
    background-color: #838faf13;
  }

  .attribute-box.active {
    background-color: #252a3d; 
    border-color: rgb(236, 219, 120); 
  }

  .attribute-type, .attribute-value {
  margin: 0; /* Remove default margins on <p> elements */
}

.attribute-type {
  font-family: "NENeueMachina-InktrapLig", Consolas, sans-serif;
  font-size: 10px;
  color: rgba(232, 247, 255, 0.438);
}

.attribute-value {
  font-family: "NENeueMachina-InktrapBold", Consolas, sans-serif;
  color: rgb(177, 250, 255);
  font-size: 12px;
  letter-spacing: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.traits-selection {
  display: none;
  grid-template-columns: repeat(4, 1fr); /* Creates 3 columns with equal width */
  gap: 10px; /* Adjust the gap between items as needed */
}

.traits-selection.active {
  display: grid; /* Updated from flex to grid */
  justify-content: start;
  margin-top: 30px;
}

.trait-thumb {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traits-selection img {
  width: 100%; /* Adjust as needed */
  max-width: 130px;
  height: auto;
  margin-bottom: 6px;
  border-radius: 10px;
  background-image: url(/Media/Character-Creator/Traits/xDesign/design-layer-mini-mob.png);
  background-repeat: no-repeat;
  background-position: center;  
  background-size: 100% 100%; 
}

.traits-selection img:hover {
  cursor: pointer;
  background-color: #838faf38;
}

.thumb-title {
  margin-top: 0px; /* Adjust as needed for spacing */
  font-size: 10px;
}

}

/* Styles for desktop */
@media (min-width: 769px) {
  .mobile-tabs, #info-content {
      display: none; /* Hide mobile tabs and info content on desktop */
  }

  #customizer-content {
      display: block; /* Ensure all content is visible on desktop */
  }
  .hero-customiser-descript {
    display: block !important; /* Ensure it's always visible on desktop */
}
}